:root {
  --harga: rgb(0, 201, 201);
  --shadowshape: box-shadow: 0 3px 6px 0 #d7d6dc;
  --shadowtext: text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffefd2;
  background-image: url(/image/hero.png);
  background-repeat: repeat;
  /* min-height: 5000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(26, 18, 11, 0.8);
  border-bottom: 1px solid #3c2a21;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: #d5cea3;
}

.navbar .navbar-nav a {
  color: #e5e5cb;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #d5cea3;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #d5cea3;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #e5e5cb;
  margin: 0 0.3rem;
}

.navbar .navbar-extra a:hover {
  color: #d5cea3;
}

#hamburger-menu {
  display: none;
}

/* Navbar Search Form */
.navbar .search-form {
  position: absolute;
  top: 101%;
  right: 2%;
  background-color: #fff;
  width: 20rem;
  height: 3.5rem;
  display: flex;
  text-align: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  color: #010101;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #3c2a21;
}

/* Display Section */
.display {
  display: flex;
}

.detail .detail-container {
  margin-top: 120px;
  margin-left: 60px;
}

.detail .detail-card {
  display: flex;
  flex-direction: row;
}

.detail .detail-card img {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 #d7d6dc;
}

.detail .detail-content {
  margin-left: 50px;
}

.detail .detail-row {
  background-color: #fff;
  border-radius: 10px;
  max-width: 90%;
  box-shadow: 0 3px 6px 0 #d7d6dc;
}

.detail .detail-row h3 {
  color: var(--harga);
  font-weight: 500;
  font-family: "inter";
  padding: 25px 10px 5px;
}

.detail .detail-row p {
  position: relative;
  padding: 10px;
}

.detail .detail-row p::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-color: #e5e5cb;
}

.detail .detail-row button {
  background-color: rgb(255, 52, 52);
  color: #fff;
  width: 100px;
  height: 30px;
  margin: 15px;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #3c2a21;
  text-align: center;
  padding: 1rem 0;
  margin-top: 6rem;
}

footer .social {
  padding: 0.3rem 0;
}

footer .social a {
  color: #d5cea3;
  margin: 0.5rem;
}

footer .social a:hover {
  color: #1c0a00;
}

footer .links {
  padding: 1rem 0;
}

footer .links a {
  color: #d5cea3;
  margin: 0.5rem;
}

footer .links a:hover {
  color: #1c0a00;
}

/* Media Quaries */
/* Tablet */
@media (max-width: 762px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e5e5cb;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    top: 101%;
  }

  .navbar .navbar-nav a {
    color: #3c2a21;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form label {
    cursor: pointer;
    font-size: 2.6rem;
  }
}
