* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffefd2;
  background-image: url(hero.png);
  background-repeat: repeat;
  color: aliceblue;
  /* min-height: 5000px; */
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(26, 18, 11, 0.8);
  border-bottom: 1px solid #3c2a21;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: #d5cea3;
}

.navbar .navbar-nav a {
  color: #e5e5cb;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #d5cea3;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #d5cea3;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #e5e5cb;
  margin: 0 0.3rem;
}

.navbar .navbar-extra a:hover {
  color: #d5cea3;
}

#hamburger-menu {
  display: none;
}

/* Navbar Search Form */
.navbar .search-form {
  position: absolute;
  top: 101%;
  right: 2%;
  background-color: #fff;
  width: 20rem;
  height: 3.5rem;
  display: flex;
  text-align: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.1rem;
  color: #010101;
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #3c2a21;
}

/* Menu Section */
.menu {
  min-height: 100vh;
  position: relative;
}

.menu .container {
  margin-top: 10rem;
}

.menu .container .primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .container .primary .row1 {
}

.menu .container .primary .row1 h3 {
  color: #010101;
}

.menu .container .primary .row2 {
}

.menu .colom {
  margin: 0 0 1em;
  padding: 0;
}

.menu .colom .produk {
  background: #737373;
  width: 50%;
  height: 16rem;
  border-radius: 5%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.menu .colom .produk .produk-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.menu .colom .produk .produk-content img {
  width: 100%;
  border-radius: 5% 5% 0 0;
}

.menu .colom .produk .produk-content h3 {
  padding-left: 1.5rem;
}

.menu .colom .produk .produk-content p {
  padding-left: 1.5rem;
}

.menu .colom .produk .produk-content a {
  color: #fff;
  background-color: red;
  margin-left: 1rem;
  margin-top: 0.3rem;
  width: 80%;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

/* Media Quaries */
/* Tablet */
@media (max-width: 762px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e5e5cb;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    top: 101%;
  }

  .navbar .navbar-nav a {
    color: #3c2a21;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form label {
    cursor: pointer;
    font-size: 2.6rem;
  }
}
