* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffefd2;
  background-image: url(hero.png);
  background-repeat: repeat;
  color: aliceblue;
  /* min-height: 5000px; */
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(26, 18, 11, 0.8);
  border-bottom: 1px solid #3c2a21;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: oblique;
  color: #ffffff;
}

.navbar .navbar-logo span {
  color: #d5cea3;
}

.navbar .navbar-nav a {
  color: #e5e5cb;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #d5cea3;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #d5cea3;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #e5e5cb;
  margin: 0 0.3rem;
}

.navbar .navbar-extra a:hover {
  color: #d5cea3;
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0rem;
  background: #3c2a21;
}

.hero .content {
  padding: 1rem 7%;
  max-width: 60rem;
  flex-direction: row;
  align-items: center;
}

.hero .content h1 {
  font-size: 5em;
  color: #3c2a21;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.hero .content h1 span {
  color: #d5cea3;
}

.hero .content p {
  color: #3c2a21;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.hero .content .p-span p {
  color: #8f3200;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: white;
  background-color: #3c2a21;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(28, 10, 0, 0.5);
}

/* About Section */
.about,
.mmenu,
.contact {
  min-height: 100vh;
  padding: 7.5rem 0rem;
  position: relative;
}

.about h2,
.mmenu h2,
.contact h2 {
  color: #3c2a21;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 0rem;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.about h2 span,
.mmenu h2 span,
.contact h2 span {
  color: #d5cea3;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.about .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .row .about-img {
  margin-top: 3.5rem;
  order: 1;
}

.about .row .about-img img {
  border-radius: 10%;
  height: auto;
  width: 30rem;
  outline-style: solid;
  outline-color: #d5cea3;
  outline-width: thick;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
}

.about .row .content {
  flex: 1 1rem;
  padding: 1rem 1rem;
  order: 1;
}

.about .row .content h3 {
  color: #3c2a21;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.about .row .content p {
  color: #8f3200;
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

.about .row2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  background-color: #d5cea3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  order: 2;
}

.about .row2 .profile-card {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about .row2 .profile-card .profile-card-img {
  border-radius: 15%;
  width: 60%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.about .row2 .profile-card .profile-card-nama {
  color: #3c2a21;
  margin: 1rem auto 0.5rem;
  text-shadow: 1px 1px 3px rgb(28, 10, 0, 0.5);
}

/* Contact Section */
.contact .row {
  display: flex;
  /* margin: 3rem 10rem 3rem 10rem; */
  margin-top: 3rem;
  height: 20rem;
  background-color: #3c2a21;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 4rem 2rem;
  margin-top: -4rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: #000;
  border: 1px solid #eee;
  padding-left: 1rem;
}

.contact .row form .input-group input {
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
}

.contact .row form .container {
  display: flex;
  justify-content: end;
}

.contact .row form .container .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #fff;
  background: #d5cea3;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #3c2a21;
  text-align: center;
  padding: 1rem 0;
  margin-top: 6rem;
}

footer .social {
  padding: 0.3rem 0;
}

footer .social a {
  color: #d5cea3;
  margin: 0.5rem;
}

footer .social a:hover {
  color: #1c0a00;
}

footer .links {
  padding: 1rem 0;
}

footer .links a {
  color: #d5cea3;
  margin: 0.5rem;
}

footer .links a:hover {
  color: #1c0a00;
}

/* Media Quaries */
/* Tablet */
@media (max-width: 762px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #e5e5cb;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    top: 58px;
  }

  .navbar .navbar-nav a {
    color: #3c2a21;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0.2rem;
    margin-top: 2rem;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.5rem;
  }

  .mmenu p,
  .mmenu .menu-card-title {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
    height: 100%;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
    margin-top: 1rem;
  }

  .contact .row form .container {
    justify-content: center;
  }
}
/* Mobile */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
